$mycolors: ("highlight":blue,"error" :red,"background": tomato);
$my-padding: ("none":0px,"slim":5px,"mid":10px ,"fat" :15px);
$my-font: ("normal": 16px);
$my-percent: ("third": 32%, "half":49%, "all":100%);