
@import "vars";
@import "reset";

@mixin simple-style {
  display: inline-block;
  padding: map-get($my-padding,mid);
  border: black;
}

#main-header {
  color: map-get($mycolors,highlight);
}

#list-container {
  text-align: center;

  #list-of-stuff {
    @include simple-style;
    text-align: left;
    width:  map-get($my-percent,third);
    background-color: map-get($mycolors,background);

    border-radius: map-get($my-padding,slim);

    #new-item {
      width: map-get($my-padding,mid);
    }
    .row {
      padding: map-get($my-padding,slim);
      .side-buttons {
        display: none;//buttons are not shown by default
        float: right;
        clear: both;
      }

      &:hover .side-buttons{ //hover over make side button shown
        font-size: 50%;
        animation-name: colorChange;
        animation-duration: 700ms;
        @include simple-style
      }

      .item {
          + label {
            @include simple-style;
            font-size: map-get($my-font,normal);
            }
          &:hover +label{
            @include simple-style;

            font-size: map-get($my-font,normal);
            background-color: greenyellow;

          }
          &:checked {
            border: black;
            color: blue;

          }
      }
    }
  }
}