@keyframes colorChange {
    0% {
        background: tomato
    }
    50% {
        background: whitesmoke
    }
    100% {
        background: tomato
    }
}

* {
    box-sizing: border-box;
}

#main-header {
    color: blue;
}

.row {
    padding: 5px;
}

#item-con {
    display: inline-block;

}


.item:checked + label {

    color: blue;
}

.item + label {
    display: inline-block;
    border: black;
    font-family: sans-serif;
    font-size: 16px;
}

.item:hover + label {

    border: black;
    color: blue;
    background-color: greenyellow;

}

.side-buttons {
    display: none;
    float: right;
    text-align: right;
    clear: both;


}
.label1 {
    width: 40%;
    display: inline-flex;
}

.buttons {
    font-size: 90%;
    float: right;
}


.buttons:hover {
    color: blue;
}

#list-container {
    text-align: center;

}

#my-nav {
    text-shadow: 1px 1px 1px #222;
}

#list-of-stuff {
    text-align: left;
    width: 30%;
    background-color: tomato;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
}



#new-item {
    width:30%;
}

.row:hover .side-buttons {
    display: inline-block;
    animation-name: colorChange;
    animation-duration: 700ms;
    padding: 5px;
    float: right; /*why is align right not working , and why is this comment not one line*/
}
#new-item-label{
    display:inline-flex;

}