#main-header{
    color: blue;
}
.item {
    background-color: tomato;
    color: blue;

}

#list-container{
    text-align: center;
}
#list-of-stuff {
    text-align: left;
    width: 400px;
    background-color: tomato;
    display: inline-block;


}